:root {
	color-scheme: light only;
}


@-webkit-keyframes glowing {
	from {
  		box-shadow:
    		0 0 10px #fff,
    		0 0 20px #f0f,
    		0 0 30px #f00,
    		0 0 40px #900,
    		0 0 50px #220000,
    		0 0 60px #e60000,
    		0 0 70px #e60000;
	}
	to {
		box-shadow:
		0 0 20px #fff,
		0 0 30px #ff4da6,
		0 0 40px #ff4da6,
		0 0 50px #ff4da6,
		0 0 60px #ff4da6,
		0 0 70px #ff4da6,
		0 0 80px #ff0000;
	}
}



header {
	background-position: left 0px top 0px;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	position: fixed;
	width: 100%;
	height: 129px;
	color: #e0b899;
	justify-content: center;
	align-items: center;
	z-index: 666;
}
.fractalcloudsheader {
	height: 100%;
	object-fit: cover;
	width: 100%;
}
		#nav-container {
			position: fixed;
			height: 100vh;
			width: 100%;
			pointer-events: none;
			z-index: 666;

		}
		#nav-container .bg {
			position: absolute;
			top: 0px;
			left: 0;
			width: 100%;
			height: 100%;
			visibility: hidden;
			opacity: 0;
			transition: .3s;
			background: #000;
		}
		#nav-container:focus-within .bg {
			visibility: visible;
			opacity: .6;
		}
		#nav-container * {
			visibility: visible;
		}
		#nav-container:focus-within .button {
			pointer-events: none;
		}
		#nav-container:focus-within .icon-bar:nth-of-type(1) {
			transform: translate3d(0,8px,0) rotate(45deg);
		}
		#nav-container:focus-within .icon-bar:nth-of-type(2) {
			opacity: 0;
		}
		#nav-container:focus-within .icon-bar:nth-of-type(3) {
			transform: translate3d(0,-8px,0) rotate(-45deg);
		}
		
		
		
		
		
		
		
		
		
		

		.profile {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			overflow: hidden;
			/* position: fixed; */
			/* z-index:999; */
			border: 1px solid #440000;
			box-shadow: 0px 0px 19px 0px #ff0000;
			-webkit-animation: glowing 1s ease-in-out infinite alternate;
			-moz-animation: glowing 1s ease-in-out infinite alternate;
			animation: glowing 1s ease-in-out infinite alternate;
		}
		.profile img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		

		main {
			padding: 0px 9px 9px 9px;
			flex-direction: column;
			height: 100%;
			width: 100%;
		}

		main > div {
			margin: auto;
		}

		main h2 span {
			color: #BF7497;
		}

		main p {
			line-height: 1.5;
			margin: 20px 0;
		}

		main small {
			font-weight: 300;
		}



		.button {
			position: fixed;
			display: flex;
			flex-direction: column;
			justify-content: center;
			z-index: 999;
			-webkit-appearance: none;
			border: 0;
			background: transparent;
			border-radius: 0;
			height: 39px;
			width: 30px;
			cursor: pointer;
			pointer-events: auto;
			left: 13px;
			top: 88px;
			touch-action: manipulation;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
		.icon-bar {
			display: block;
			width: 100%;
			height: 3px;
			background: #e0b899;
			transition: .3s;
		}
		.icon-bar + .icon-bar {
			margin-top: 5px;
		}



		#nav-content {
			margin-top: 129px;
			padding: 17px;
			width: 100%;
			/* max-width: 300px; */
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background: #000000;
			background-image: linear-gradient(to right, #440900 , #220000, black);
			pointer-events: auto;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			transform: translateX(-100%);
			transition: transform .3s;
			will-change: transform;
			contain: paint;
		}

		#nav-content ul {
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		#nav-content li a {
			padding-left: 2px;
			padding-top: 9px;
			display: block;
			text-transform: uppercase;
			transition: color .1s;
		}

		#nav-content li a:hover {
			color: #BF7497;
		}

		#nav-content li:not(.small) + .small {
			margin-top: auto;
		}

		.small {
			display: flex;
			align-self: center;
		}

		.small a {
			font-size: 12px;
			font-weight: 400;
		}
		.small a + a {
			margin-left: 15px;
		}

		#nav-container:focus-within #nav-content {
			transform: none;
		}






		* {
			box-sizing: border-box;
			margin: 0;
			padding: 0;
		}

		html, body {
			height: 100%;
		}

		a,
		a:visited,
		a:focus,
		a:active,
		a:link {
			text-decoration: none;
			outline: 0;
		}

		a {
			color: currentColor;
			transition: .2s ease-in-out;
		}

		h1, h2, h3, h4 {
			margin: 0;
		}

		ul {
			padding: 0;
			list-style: none;
		}

		img {
			vertical-align: middle;
			height: auto;
			width: 100%;
		}

		.d-inline-flex {
			display: inline-flex !important;
		}

		.mb-1 {
			margin-bottom: 4px !important;
		}
		.flex-items-center {
			align-items: center !important;
		}
		.d-inline-flex {
			display: inline-flex !important;
		}
		.text-semibold {
			font-weight: var(--base-text-weight-medium, 500) !important;
		}
		.mb-1 {
			margin-bottom: var(--base-size-4, 4px) !important;
		}
		.flex-items-center {
			align-items: center !important;
		}
		.color-fg-attention {
			color: #ff0000;
		}
		.color-fg-accent {}
		.color-fg-done {
			color: #ffa500;
		}

		.mr-2 {
			margin-right: 8px !important;
		}

		.octicon {
			vertical-align: text-bottom;
		}
		.mr-2 {
			margin-right: var(--base-size-8, 8px) !important;
		}
		.octicon {
			display: inline-block;
			overflow: visible !important;
			vertical-align: text-bottom;
			fill: currentColor;
		}
		.markdown-alert.markdown-alert-warning {
			border-left: 0.29em solid #991111;
		}
		.markdown-alert.markdown-alert-important {
			border-left: 0.29em solid #663807;
		}
		.markdown-alert.markdown-alert-note {
			border-left: 0.29em solid #584838;
		}
		.markdown-alert.markdown-alert-quote {
			border-left: 0.29em solid #483838;
			color: #887777;
		}


		.markdown-body>*:first-child {
			margin-top: 0 !important;
		}
		.markdown-alert {
			padding: 0 1em;
			margin-bottom: 16px;
		}

		.hiddentag {
			height: 144px;
			width: 0px;
			overflow: hidden;
		}
		.divh1 {
			height: 38px;
			padding-top: 2px;
			padding-left: 4px;
			margin-top: -5px;
			background-image: linear-gradient(to right, #440900 , #220000, #1E1E1E);
		}
		.divh2 {
			height: 38px;
			padding-top: 10px;
			padding-left: 4px;
			margin-top: -5px;
			background-image: linear-gradient(to right, #440900 , #220000, #1E1E1E);
		}
		h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0
}


h1 {
    font-size: 32px;
    font-weight: 600
}

h2 {
    font-size: 24px;
    font-weight: 600
}

h3 {
    font-size: 20px;
    font-weight: 600
}

h4 {
    font-size: 16px;
    font-weight: 600
}

h5 {
    font-size: 14px;
    font-weight: 600
}

h6 {
    font-size: 12px;
    font-weight: 600
}

p {
    margin-top: 0;
    margin-bottom: 10px
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

img {
    border-style: none
}
		body {
font-size: 14px;

    line-height: 1.5
    ;
			font-family: "Newsreader", "serif";
			font-weight: normal;

			color: #d3b8aa;

			background-color: #000000;

			background-image: url("");

			background-repeat: no-repeat;

			background-size: cover;

		}

		.link {

			color: #000000;

			text-decoration: none;

		}

		.link:hover, .link:visited, .link:active {

			color: #bb9900;

			text-decoration: underline;

		}
		
		
		
		/* newsreader-200 - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: normal;
			font-weight: 200;
			src: url('/font/newsreader-v20-latin_latin-ext-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-200italic - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: italic;
			font-weight: 200;
			src: url('/font/newsreader-v20-latin_latin-ext-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-300 - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: normal;
			font-weight: 300;
			src: url('/font/newsreader-v20-latin_latin-ext-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-300italic - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: italic;
			font-weight: 300;
			src: url('/font/newsreader-v20-latin_latin-ext-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-regular - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: normal;
			font-weight: 400;
			src: url('/font/newsreader-v20-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-italic - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: italic;
			font-weight: 400;
			src: url('/font/newsreader-v20-latin_latin-ext-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-500 - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: normal;
			font-weight: 500;
			src: url('/font/newsreader-v20-latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-500italic - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: italic;
			font-weight: 500;
			src: url('/font/newsreader-v20-latin_latin-ext-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-600 - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: normal;
			font-weight: 600;
			src: url('/font/newsreader-v20-latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-600italic - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: italic;
			font-weight: 600;
			src: url('/font/newsreader-v20-latin_latin-ext-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-700 - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: normal;
			font-weight: 700;
			src: url('/font/newsreader-v20-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-700italic - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: italic;
			font-weight: 700;
			src: url('/font/newsreader-v20-latin_latin-ext-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-800 - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: normal;
			font-weight: 800;
			src: url('/font/newsreader-v20-latin_latin-ext-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}
		/* newsreader-800italic - latin_latin-ext */
		@font-face {
			font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
			font-family: 'Newsreader';
			font-style: italic;
			font-weight: 800;
			src: url('/font/newsreader-v20-latin_latin-ext-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		}